In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_loan=pd.read_csv('loan.csv')

# Data Preprocessing

**Analyzing raw data: Check the first 5 rows.**

In [3]:
df_loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

**Checking for null values and dropping columns having all values as null**

In [4]:
null_columns=df_loan.isnull().sum()

null_columns=null_columns[null_columns>0]
print("Below columns have null vales",null_columns)

Below columns have null vales emp_title                      2459
emp_length                     1075
desc                          12942
title                            11
mths_since_last_delinq        25682
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 68, dtype: int64

In [5]:
df_loan.dropna(axis=1,how='all',inplace=True)

In [6]:
df_loan.shape

(39717, 57)

We have also removed below attributes from analysis 

Payment plan: Only n value in it <br>
initial_list_status: Has single value F<br>
collections_12_mths_ex_med- Has 0,NA only<br>
policy_code- value of 1 only <br>
application_type- only single value present<br>
acc_now_delinq-Only 0 present in data<br>
chargeoff_within_12_mths- only 0 and NA<br>
delinq_amnt-only 0 present in data<br>
tax_liens- 0 and NA only<br>

In [7]:
df_loan.drop(['id','emp_title','pymnt_plan', 'url','desc','title','initial_list_status','next_pymnt_d','collections_12_mths_ex_med','policy_code','application_type','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt','tax_liens','last_pymnt_d',"total_pymnt","total_pymnt_inv","total_rec_int","total_rec_late_fee","total_rec_prncp","out_prncp","out_prncp_inv","recoveries","collection_recovery_fee","last_pymnt_amnt","last_credit_pull_d","funded_amnt_inv"],axis=1,inplace=True)

In [8]:
df_loan.shape

(39717, 29)

In [9]:
df_loan.columns

Index(['member_id', 'loan_amnt', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'pub_rec_bankruptcies'],
      dtype='object')

In [10]:
df_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   member_id               39717 non-null  int64
 1   loan_amnt               39717 non-null  int64
 2   funded_amnt             39717 non-null  int64
 3   term                    39717 non-null  object
 4   int_rate                39717 non-null  object
 5   installment             39717 non-null  float64
 6   grade                   39717 non-null  object
 7   sub_grade               39717 non-null  object
 8   emp_length              38642 non-null  object
 9   home_ownership          39717 non-null  object
 10  annual_inc              39717 non-null  float64
 11  verification_status     39717 non-null  object
 12  issue_d                 39717 non-null  object
 13  loan_status             39717 non-null  object
 14  purpose                 39717 non-null  object
 15  zip_code                39717 non-null  object
 16  addr_state              39717 non-null  object
 17  dti                     39717 non-null  float64
 18  delinq_2yrs             39717 non-null  int64
 19  earliest_cr_line        39717 non-null  object
 20  inq_last_6mths          39717 non-null  int64
 21  mths_since_last_delinq  14035 non-null  float64
 22  mths_since_last_record  2786 non-null   float64
 23  open_acc                39717 non-null  int64
 24  pub_rec                 39717 non-null  int64
 25  revol_bal               39717 non-null  int64
 26  revol_util              39667 non-null  object
 27  total_acc               39717 non-null  int64
 28  pub_rec_bankruptcies    39020 non-null  float64
dtypes: float64(6), int64(9), object(14)
memory usage: 8.8+ MB

**Checking for null values and dropping columns in null values is more than 40%**

In [ ]:
df_loan.isnull().sum()

In [ ]:
df_loan.drop(['mths_since_last_delinq','mths_since_last_record'],axis=1,inplace=True)

**Data Cleaning**

In [ ]:
df_loan['emp_length']=df_loan['emp_length'].str.replace("years","")
df_loan['emp_length']=df_loan['emp_length'].str.replace("year","")
df_loan['emp_length']=df_loan['emp_length'].str.replace("< 1","0")
df_loan['emp_length']=df_loan['emp_length'].str.replace('10+ ', '10')

In [ ]:
df_loan['emp_length'].fillna(df_loan['emp_length'].median(),inplace=True)

In [ ]:
df_loan['revol_util']=df_loan['revol_util'].str.replace("%","")

In [ ]:
df_loan['revol_util'].astype(float)

In [ ]:
df_loan.dropna(subset=['revol_util'],inplace=True,axis=0)

In [ ]:
df_loan.dropna(subset=['last_credit_pull_d'],axis=0,inplace=True)

In [ ]:
df_loan['pub_rec_bankruptcies'].fillna(0,inplace=True)

In [ ]:
df_loan.shape

In [ ]:
df_loan.isnull().sum()

In [ ]:
df_loan.duplicated().sum()

**We have cleaned the data and found out that no null or duplicate values are present in data and final
dataframe has 39 columns which would be used for further analysis.**

In [15]:
cat_cols=["member_id","term","grade","sub_grade","home_ownership","verification_status","issue_d","loan_status"]
num_cols=["loan_amnt","funded_amnt","installment","annual_inc",'int_rate','revol_bal','revol_util','pub_rec_bankruptcies','inq_last_6mths','open_acc']

In [16]:
num_tushar=["dti","total_acc","mths_since_last_delinq","mths_since_last_record"]
cat_tushar=["purpose","zip_code","addr_state","emp_length","delinq_2yrs","earliest_cr_line",'pub_rec']

In [17]:
total = len(cat_cols) + len(num_cols) + len(num_tushar) + len(cat_tushar)
print(total)

29

In [ ]:
df_loan['loan_status'].value_counts()

In [ ]:
loan_status_per=df_loan['loan_status'].value_counts(normalize=True)*100
print(loan_status_per)

# Univaraite analysis

**Summary Statistics for Numerical coulmns**

In [ ]:
df_loan[num_cols].describe()

In [ ]:
plt.figure(figsize=(5,6))
plt.pie(loan_status_per, autopct='%1.2f%%',labels=loan_status_per.index, startangle=140,textprops={'fontsize': 16})
plt.show()

In [ ]:
df_filter=df_loan[df_loan['loan_status'] != 'Current']

**As we proceed with the analysis, we are excluding borrowers whose loan status is marked as "active." This decision is driven by our focus on identifying defaulters so we are excluding users with loans_status='current'**

In [ ]:
df_num=df_filter[["loan_amnt","funded_amnt","funded_amnt_inv","installment","annual_inc","total_acc","total_pymnt","total_pymnt_inv","total_rec_int","total_rec_late_fee","total_rec_prncp"]]

In [ ]:
for column in df_num.columns:
    sns.boxplot(df_num[column])
    plt.show()
#plt.subplot(1,2,1)

We can see that in all numerical columns outliers are present

In [ ]:
sns.countplot(x=df_filter['home_ownership'])
plt.title('Home Ownership Distribution')
plt.ylabel('Count of Borrowers')
plt.show()

In [ ]:
df_filter['year']=pd.to_datetime(df_filter['issue_d'],format='%b-%y').dt.year

In [ ]:
df_filter['month']=pd.to_datetime(df_filter['issue_d'],format='%b-%y').dt.month

In [ ]:
sns.countplot(x=df_filter['year'])
plt.show()

**Graph shows that rent,mortgage categories are having highest number of loan borrowers**

In [ ]:
sns.countplot(x=df_filter['month'])
plt.show()

**Graph shows that there is increase in number of borrowers over the year**

# Bivariate Analysis

In [ ]:
sns.barplot(x=df_filter['loan_status'],y=df_filter['annual_inc'],hue=df_filter['term'])
plt.yscale('log')
plt.title('Income-Term wise loan status Distribution')
plt.ylabel('Annual Income')
plt.show()

In [ ]:
sns.barplot(x=df_filter['grade'],y=df_filter['annual_inc'],hue=df_filter['loan_status'])
plt.yscale('log')
plt.title('Income-Grade wise loan status Distribution')
plt.ylabel('Annual Income')

plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.barplot(x='home_ownership',y='loan_amnt', hue='loan_status', data=df_filter)
#plt.yscale('log')
plt.title('Term and home ownershipwise Loan amount Distribution')
plt.ylabel('loan amount')
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.barplot(x='verification_status',y='loan_amnt', hue='loan_status', data=df_filter)
#plt.yscale('log')
plt.title('Verfications status Vs Loan amount')
plt.ylabel('loan amount')
plt.show()

In [ ]:
order = df_loan.groupby('purpose')['loan_amnt'].median().sort_values().index

# Plot the horizontal bar plot
sns.barplot(y=df_loan['purpose'], x=df_loan['loan_amnt'], order=order)
plt.xlabel('Loan Amount')
plt.ylabel('Purpose')
plt.title('Loan Amount by Purpose (Ascending Order)')
plt.show()

In [ ]:
verification_count=df_loan.groupby(['verification_status','member_id']).nunique()

In [ ]:
df_loan['loan_status'].value_counts()

In [ ]:
loan_status_per=df_loan['loan_status'].value_counts(normalize=True)*100

In [ ]:
plt.figure(figsize=(5,6))
plt.pie(loan_status_per, autopct='%1.2f%%',labels=loan_status_per.index, startangle=140,textprops={'fontsize': 16})
plt.show()

In [ ]:
sns.histplot(data=df_loan,x='loan_status')

In [ ]:
sns.histplot(data=df_loan,x='verification_status',hue='loan_status')

In [ ]:
sns.countplot(data=df_loan,x='verification_status',hue='loan_status')

In [ ]:
#sns.barplot(x=verification_count.index,y=verification_count.values,palette="pastel")

#plt.xlabel('Verification Status')
#plt.ylabel('Number of Unique Users')
#plt.title('Number of Unique Users by Verification Status')
#plt.show()

In [ ]:
df_filter=df_loan[df_loan['loan_status'] != 'Current']

In [ ]:
df_filter.head()